@font-face {
    font-family: 'playfair_Display';
    src: url(font/IBM_Plex_Sans\,Playfair_Display/);
}
/*paleta de colores*/
:root{
--vinotinto: #800020;
--dorado: gold;
--fondo-claro:white;
--texto-oscuro:#333333;
}
*{
    font-family: 'playfair_Display', serif;
    box-sizing: border-box;
}
body{
    font-family: 'playfair_Display', serif;
    margin: 0%;
    padding: 0%;
    background-color: var(--vinotinto);
    color: var(--texto-oscuro);
    line-height: 1.6;
}
header{
    background-color:#800020;
    padding: 0;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    top: 0%;
    z-index: 10;
} 

.navbar-nav{
    margin-left: auto;
}
.navbar{
    background-color: var(--vinotinto);
}
.navbar-nav .nav-link{
    color: gold;
    font-weight: 500;
    transition: all 0.3s ease;
}
.navbar-toggler:hover{
    background-color: var(--dorado);
}
.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover{
background-color: gold;
color: #800020 ;
border-radius: 5px;
}
.dropdown-menu{
background-color: var(--vinotinto);
border: 1px solid gold;
}
.dropdown-item{
    color: gold ;
    transition: all 0.3s ease;
}
.dropdown-item:hover{
background-color: gold;
color: #800020 ;
}


.logo-section{
    display: flex;
    align-items: center;
}
.logo-section img{
    height: 40px;
    width: auto;
    margin-right: 10px;
    border-radius: 50%;
}
.logo-section h1{
    color: var(--dorado);
    margin: 0;
    font-size: 1.8em;}

#sobre-nosotros{
    background-color: var(--fondo-claro);
    margin:50px;
    padding: 10px ;
    border: 2px gold solid;
    width: 90%;
    text-align: center;
}
#sobre-nosotros h2{
    color: var(--dorado);
    text-align: center;
    
}
#sobre-nosotros p{
    max-width: 800px;
    margin: 0 auto;
    color: var(--texto-oscuro);
}
.contenedor, .contenedor2{
     background-color: var(--fondo-claro);
    margin:50px;
    padding: 10px ;
    border: 2px gold solid;
    width: 90%;
    text-align: center;
}
.contenedor h2, .contenedor2 h2{
    color: var(--dorado);
    text-align: center;
}
main{
    background-color: #800020;
}

.redes {
    text-align: center;
    margin-top: 0%;
}

.redes h2 {
    margin-bottom: 20px;
    color:gold;
}

.redes a {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    color: gold;
    text-decoration: none;
    transition: 0.3s;
}

.redes a:hover {
    color: var(--dorado);
}

footer {
    background-color: var(--vinotinto);
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 0;
    font-size: 0.9rem;
}