@font-face {
    font-family: 'playfair_Display';
    src: url(font/IBM_Plex_Sans\,Playfair_Display/);
}
/*paleta de colores*/
:root{
--vinotinto: #800020;
--dorado: gold;
--fondo-claro:white;
--texto-oscuro:#333333;
}
*{
    font-family: 'playfair_Display', serif;
    box-sizing: border-box;
}
body{
    font-family: 'playfair_Display', serif;
    margin: 0%;
    padding: 0%;
    background-color: var(--vinotinto);
    color: var(--texto-oscuro);
    line-height: 1.6;
}
header{
    background-color:var(--vinotinto);
    padding: 0;
    box-shadow: black;
    position: relative;
   
   /* overflow: hidden; */
    top: 0%;
    z-index: 10;
}


.navbar-nav{
    margin-left: auto;
}
.navbar{
    background-color: var(--vinotinto);
}
.navbar-nav .nav-link{
    color: gold;
    font-weight: 500;
    transition: all 0.3s ease;
}
.navbar-toggler:hover{
    background-color: var(--dorado);
}
.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover{
background-color: gold;
color: #800020 ;
border-radius: 5px;
}
.dropdown-menu{
background-color: var(--vinotinto);
border: 1px solid gold;
}
.dropdown-item{
    color: gold ;
    transition: all 0.3s ease;
}
.dropdown-item:hover{
background-color: gold;
color: #800020 ;
}


.logo-section{
    display: flex;
    align-items: center;
}

.logo-section img{
    height: 40px;
    width: auto;
    margin-right: 10px;
    border-radius: 50%;
}


.logo-section  h1{
    color: var(--dorado);
    margin: 0;
    text-decoration: none;
    font-size: 1.8em;}

.carousel-item{
    width: 90%;
    
}
.content{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    flex-wrap: wrap;
    z-index: 2;
    text-align: center;
    color: var(--dorado);
}

.cta-button{
    background-color: transparent;
    color: var(--dorado);
    border: 2px solid var(--dorado);
    padding: 10px 20px;
    font-size: clamp(0.9rem, 2.2vw, 1.1rem);
    text-decoration: none;
    font-weight:700;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 3;
}
.cta-button:hover{
    background-color: var(--dorado);
    color: var(--vinotinto);
    box-shadow: 0 0 10px var(--dorado);
    transform: scale(1.05);
}
main{
    background-color: #800020;
    margin:0;
}

.redes {
    text-align: center;
    margin-top: 60px;
}

.redes h2 {
    margin-bottom: 20px;
    color:gold;
}

.redes a {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    color: gold;
    text-decoration: none;
    transition: 0.3s;
}

.redes a:hover {
    color: var(--dorado);
}

footer {
    background-color: var(--vinotinto);
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 0;
    font-size: 0.9rem;
}
/*footer{ 
background-color: var(--vinotinto);
color: var(--dorado);
text-align: center;
padding: 20px;
}  */ 

